print() function

In [ ]:
print(2+7)
print(2*7)
print("hello world")

9
14
hello world

Multiple Assignment operator

In [ ]:
length, height, width = 2, 5, 8
vol = length*height*width
print(vol)

80

In [ ]:
a=3
b=a
print(b)

3

In [ ]:
rent = 1700
rent = 2000
rent += 700
print(rent)

2700

In [ ]:
a = 3
b = 2.5
c = 3/2

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
a = float(3)
b = int(28.9)
print(a)
print(b)

3.0
28

In [ ]:
a = 3 > 1
print(a)

True

In [ ]:
rent = 1200
is_affordable = not(rent > 1000 and rent < 2000) #"not" just inverts bool value

print(is_affordable)

False

In [ ]:
motto = "Learn | Code | Compete | Intern"
print(motto)

Learn | Code | Compete | Intern

In [ ]:
type(motto)

str

In [ ]:
dialogue = '"shiva you\'re bag is red"'
print(dialogue)

"shiva you're bag is red"

In [ ]:
print("hello" + "world")

print("hello" + " " + "world")

helloworld
hello world

In [ ]:
word = "hello"
print(word * 5)

hellohellohellohellohello

In [ ]:
word_length = len("ShapeAI")
print(word_length)

7

In [ ]:
gandhi_quote = 'If you don\'t ask, you don\'t get it'
print(gandhi_quote)

If you don't ask, you don't get it

In [ ]:
model = "VGG16"
iteration = "150"
accuracy = "67.98"

# "the accuracy of ResNET50 model in 100th iteration is: 42.16%"

print("the accuracy of "+ model+ " in "+ iteration+"th iteration is: "+accuracy +"%")

the accuracy of VGG16 in 150th iteration is: 67.98%

In [ ]:
given_name = "Rahul"
middle_names = "Shastri"
family_name = "Mishra"

name_length = len(given_name)+len(middle_names)+len(family_name)

driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

In [ ]:
marks = 15
subject = "coding"
semester = "first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester."
print(result)

I scored 15 in coding during my first semester.

In [ ]:
marks = "15"
print(type(marks))

marks = float(marks)
print(type(marks))

<class 'str'>
<class 'float'>

In [ ]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

total_sales = (float(mon_sales) + float(tues_sales) + float(wed_sales)
                + float(thurs_sales) + float(fri_sales))
print("This week\'s total sales: " + str(total_sales))

This week's total sales: 529.0

In [ ]:

print("Mohammed has {} balloons".format(27))

animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

maria_string = "Maria loves {} and {}"
print(maria_string.format("math","statistics"))

Mohammed has 27 balloons
Does your dog bite?
Maria loves math and statistics

 Lists and Membership Operators:

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner']

In [ ]:
print(students[0])
print(students[1])
print(students[2])

sam
pam
rocky

In [ ]:
print(students[-1])
print(students[-2])
print(students[-3])

banner
steve
austin

In [ ]:
students[len(students)-1]

'banner'

Slicing means using indicies to slice off parts of an object like list/string.

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']
student = "Barry"

# slice a particular range
marvel = students[4:7]
flash = student[1:3]

print(marvel)
print(flash)

['steve', 'banner', 'tony']
ar

In [ ]:
dc = students[7:]
flash = student[1:]

print(dc)
print(flash)

['bruce', 'henry', 'clark', 'diana']
arry

In [ ]:
normal = students[:4]
flash = student[:3]

print(normal)
print(flash)

['sam', 'pam', 'rocky', 'austin']
Bar

In [ ]:
print(len(students))
print(len(student))

11
5

In [ ]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [ ]:
greeting = "Hello gargi"
print('her' in greeting, 'her' not in greeting)

False True

In [ ]:
print('ShapeAI' in students, 'ShapeAI' not in students)

False True

The most obvious diffrence between them is that string is a sequence of characters while list's elements can be any type of bojects string, integers, floats orr bools.

A more important diference is that lists can be modified but string can't.

. Mutability and Order:

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']
students[2] = 'ben'
print(students)

['sam', 'pam', 'ben', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [ ]:
student = "Barry"
#student[1] = 'e'  ('str' object does not support item assignment)
print(student[1])

a

In [ ]:
student = "pam"
character = student
print(character)
character = "peter"
print(character)
print(student)

pam
peter
pam

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']
characters = students
print(characters)
characters[1]= "peter"
print(characters)
print(students)

['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

len(): returns how many elements does the list has.

max(): returns the greatest element of a list.

min(): returns the smallest element of a list.

sorted(): returns a copy of the list, in order from smallest to the largest. leaving the orignal list unchanged

max element in a list of integers is the largest integer, while in the case of string is the string that will come last if the list was sorted alphabetically.

In [ ]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']

student = "barry"

print(max(students))
print(max(student))

tony
y

In [ ]:
#max([2, 'two']) ('>' not supported between instances of 'str' and 'int')

In [ ]:
characters = sorted(students)
print(characters)

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']

Join() is an other useful function for lists(string lists), Join is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string

In [ ]:
sep_str = "\n".join(["Jack", "O", "Lantern"])
print(sep_str)

Jack
O
Lantern

In [ ]:
name = "-".join(["Jack", "O", "Lantern"])
print(name)

Jack-O-Lantern

append() is an other useful method that adds an element to the end of a list.

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

# Tuples:

In [ ]:
 #It's a data type for immutable ordered sequences of elements.

vector = (4, 5, 9)
print("x-coordinate:", vector[0])
print("y-coordinate:", vector[1])
print("z-coordinate:", vector[2])

x-coordinate: 4
y-coordinate: 5
z-coordinate: 9

In [ ]:
location = 108.7774, 92.5556
latitude, longtitude = location
print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

# Dictionaries and Identity Operators:

In [ ]:
#A dictionary is a mutable data type that stores mappings of unique keys to values.

elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

print(elements["helium"])
elements["lithium"] = 3
print(elements["lithium"])
print(elements)

2
3
{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [ ]:
print("carbon" in elements)
print(elements.get("dilithium"))

True
None

In [ ]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

In [ ]:
population = {"New York":17.8, "Spain":13.3, "Dhaka":13.0, "Mumbai":12.5}
print(population)

{'New York': 17.8, 'Spain': 13.3, 'Dhaka': 13.0, 'Mumbai': 12.5}

In [ ]:
population.get('London', 'There\'s no such place!')

"There's no such place!"

In [ ]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [ ]:
helium = elements["helium"]
hydrogen_weight = elements["hydrogen"]["weight"]

print(helium)
print(hydrogen_weight)

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [ ]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}
elements["oxygen"] = oxygen

print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

In [ ]:
elements = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}

elements['helium']['is_noble_gas'] = True
elements['hydrogen']['is_noble_gas'] = False

print(elements['helium']['is_noble_gas'])
print(elements['hydrogen']['is_noble_gas'])

True
False

In [ ]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [ ]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

In [ ]:
#range(start=0, stop, step=1)

for i in range(4):
  print(i)

0
1
2
3

In [ ]:
for i in range(2, 6):
  print(i)

2
3
4
5

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9