## Strings

A string is a **sequence of characters**.

Conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

In Python, string is a sequence of **Unicode character**.

## How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes.

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings

In [ ]:
mystring='hello'
print(mystring)

mystring="hello"
print(mystring)

mystring='''hello'''
print(mystring)

hello
hello
hello

## How to access characters in a string?

we can access individual characters using **indexing** and a range of characters using **slicing.**

Index starts from 0

Trying to access a character out of index range will raise an **IndexError**.

The index must be an integer. We can't use float or other types, this will result into **TypeError**.

Python **allows negative indexing** for its sequences.

In [ ]:
myString ="Hello"   #0,1,2,3,4,'\n'

print(myString[0])       #first character
print(myString[-1])      #last character  - negative indexing
print(myString[2:4])     #2nd to end character - slicing
print(myString[2:5])     # end+1
print(myString[2:7])     # :)

H
o
ll
llo
llo

error when index out of range or decimal indexing

In [ ]:
print(myString[15])

IndexError: string index out of range

In [ ]:
print(myString[1.5])

TypeError: string indices must be integers, not 'float'

## How to change or delete a string?

Strings are **immutable**. Elements of a string cannot be changed once it has been assigned.

we can simply reassign different strings to the same name.

In [ ]:
myString ="Hello"
myString[4] ='s'

TypeError: 'str' object does not support item assignment

we cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword del.

In [ ]:
del myString  #delete complete string

In [ ]:
print(myString)

NameError: name 'myString' is not defined

## String Operations

## Concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [ ]:
s1 = "Hello"
s2 = "Satish"

print(s1 + s2)
print(s1 * 3)

s1 = "Hello "
print(s1 * 3)

HelloSatish
HelloHelloHello
Hello Hello Hello

## Iterating through String

In [ ]:
s1 = "Hello AI"
for char in s1:
    print(char)

H
e
l
l
o

A
I

In [ ]:
s1 = "Hello AI"

for char in s1:
    print(char, end='')

Hello AI

In [ ]:
count = 0
for i in "Hello World":
  if i =="o":
    count+=1

print(count)

2

## String Membership Test

In [ ]:
print('l' in 'Hello World')  # in operator

True

In [ ]:
print('or' in 'Hello World')

True

## String Methods

Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace(), etc

In [ ]:
"hello".lower()

'hello'

In [ ]:
"Hello".upper()

'HELLO'

In [ ]:
"This will split all, words in a list".split()

['This', 'will', 'split', 'all,', 'words', 'in', 'a', 'list']

In [ ]:
"This will split all, words in a list".split(',')    #can specify separater

['This will split all', ' words in a list']

In [ ]:
' '.join(['This', 'will', 'join', 'all', 'words', 'in', 'a', 'sentence'])

'This will join all words in a sentence'

In [ ]:
'_'.join(['This', 'will', 'join', 'all', 'words', 'in', 'a', 'sentence'])   # can specify joiner

'This_will_join_all_words_in_a_sentence'

In [ ]:
"Good Morning".find("Mo")   # considered space and strings starts indexing from 0

5

In [ ]:
"GoodMorning".find("Mo")

4

In [ ]:
"Bad Morning".replace("Bad", "Good")

'Good Morning'

In [ ]:
s1 = "Bad Morning"
s2 = s1.replace("Bad", "Good")   #strings are immutable
print(s1)
print(s2)

Bad Morning
Good Morning

## Python Program to Check where a string is Palindrome or not ?

In [ ]:
s1 = "MadaM"

s1 = s1.lower()                 #madam

rev_s1 = reversed(s1)           #madam

if list(s1) == list(rev_s1):    #['m','a','d','a','m']
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

## Python Program to Sort Words in Alphabetic Order?

In [ ]:
s1 = "Python Program to Sort words in Alphabetic Order"

words = s1.split()    #generates a list
words.sort()

for i in words:
    print(i)

Alphabetic
Order
Program
Python
Sort
in
to
words

# Sets

A set is an unordered collection of items. Every element is unique (**No duplicates**)

The set itself is **mutable**. we can add or remove items from it.

Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

## Set Creattion

In [ ]:
# set of integers
s = {1,2,3}
print(s)

print(type(s))

{1, 2, 3}
<class 'set'>

In [ ]:
s = {1, 2, 3, 1, 4}           # no duplicates
print(s)

{1, 2, 3, 4}

In [ ]:
a = set([1, 2, 3, 1, 4])    # we can make set from a list
print(a)

print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
s = {1, 3}

print(s[1])               # set object doesn't support indexing

TypeError: 'set' object is not subscriptable

## Add elements to a set

we can add single element using add() method and add multiple elements using update() method

In [ ]:
a = {1, 3}

a.add(2)
print(a)

{1, 2, 3}

In [ ]:
a.update([5, 6, 1])           # we can add list to a set
print(a)                      # duplicates didn't add

{1, 2, 3, 5, 6}

In [ ]:
# add list and set
a.update([8, 9], {10, 2, 3})

print(a)

{1, 2, 3, 5, 6, 8, 9, 10}

## Remove elements from a Set

A particular item can be removed from set using methods discard() and remove()

In [ ]:
a = {1, 2, 3, 5, 4}
print(a)

a.discard(4)
print(a)

a.remove(2)
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 3, 5}

In [ ]:
a.discard(6)
print(a)

{1, 3, 5}

In [ ]:
a.remove(6)
print(a)

KeyError: 6

we can remove item using pop() method  - removes random element

In [ ]:
s = {1, 2, 3, 5, 4}

s.pop()

print(s)

{2, 3, 4, 5}

In [ ]:
s.pop()
print(s)

{4, 5}

In [ ]:
s.pop()
print(s)

{5}

Remove all items in set using clear() method

In [ ]:
s = {1, 2, 3, 5, 4}

s.clear()
print(s)

set()

## Python Set Operations

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#Union of 2 sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [ ]:
# use intersection function
print(set1.intersection(set2))

{3, 4, 5}

In [ ]:
# set Differences: set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2}

In [ ]:
# use difference function

print(set1.difference(set2))

{1, 2}

In [ ]:
# symmetric difference: set of elements in both set1 and set2
# except those that are common in both
# use ^ operator
# (AuB) - (AnB)

print(set1^set2)

{1, 2, 6, 7}

In [ ]:
# use symmetric_difference function

print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [ ]:
# find issubset()

x = {'a','b','c','d','e'}
y = {'c','d'}

print('set x is subset of y:', x.issubset(y))
print('set y is subset of x:', y.issubset(x))

set x is subset of y: False
set y is subset of x: True

## Frozen Sets

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, **frozen sets are immutable sets**.

Frozen sets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as distionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [ ]:
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])

# try to add element into set1 gives an error
set1.add()

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
print(set1[1])   # doesn't support indexing

TypeError: 'frozenset' object is not subscriptable

In [ ]:
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)
print(set1 ^ set2)

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

## Dictionary

Python dictionary is an **unordered (cannot index)** collection of items. While other compound data types have only value as an element, a dictionary has a key:value pair.

## Dict Creation

In [ ]:
# empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1:'abc', 2:'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name':'satish', 1:['abc','xyz']}
print(my_dict)

#create empty dictionary using dict()
my_dict = dict()

#create a dict with list of tuples
my_dict = dict([(1, 'abc'),(2,'xyz')])
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'satish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

## Dict Access

In [ ]:
my_dict = {'name':'satish', 'age':27, 'address':'guntur'}

#get name
print(my_dict['name'])

satish

In [ ]:
# if key is not present it gives KeyError
print(my_dict['degree'])

KeyError: 'degree'

In [ ]:
print(my_dict.get('address'))

guntur

In [ ]:
print(my_dict.get('degree'))

None

## Dict Add or Modify Elements

In [ ]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#update name
my_dict['name'] = 'raju'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur'}

In [ ]:
# add new key

my_dict['degree'] = 'M.Tech'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur', 'degree': 'M.Tech'}

## Dict Delete or Remove Element

In [ ]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

# remove a particular item
print(my_dict.pop('age'))

print(my_dict)

27
{'name': 'satish', 'address': 'guntur'}

In [ ]:
my_dict.popitem()       # remove random key:value pair

('address', 'guntur')

In [ ]:
my_dicty = {'name': 'satish', 'age': 27, 'address': 'guntur'}

# remove all items
my_dict.clear()

print(my_dict)

{}

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25}

del squares[2]

print(squares)

{3: 9, 4: 16, 5: 25}

In [ ]:
# remove all items

squares.clear()

print(squares)

{}

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25}

# delete the dictionary itself
del squares

print(squares)

NameError: name 'squares' is not defined

## Dictionary Methods

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
 # fromkeys[seq[, v]] ->  Return a new dictionary with keys from seq and value

 subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)

 print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [ ]:
subjects = {2:4, 3:9, 4:16, 5:25}

print(subjects.items())    #return new view of the dictionary items (key, value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [ ]:
print(subjects.keys())

print(subjects.values())

dict_keys([2, 3, 4, 5])
dict_values([4, 9, 16, 25])

In [ ]:
# get list of all available methods and attributes of dictionary

d = {}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Dict Comprehension

In [ ]:
# Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a':1, 'b':2, 'c':3}
for pair in d.items():
  print(pair)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
# creating a new dictionary with only pairs where the value is largest than 2

d = {'a':1, 'b':2, 'c':3, 'd':4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

{'c': 3, 'd': 4}

In [ ]:
# we can also perform operations on the key value pairs
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

# Tuples

A tuple is similar to list

The difference between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed.

Tuples are immutable.

## Tuple Creation

In [ ]:
 #empty tuple
 t = ()

 #tuple having integers
 t = (1, 2, 3)
 print(t)

 #tuple with mixed datatypes
 t = (1, 'raju', 20, 'abc')
 print(t)

 #nested tuple
 t = (1, (2, 3, 4), [1, 'raju', 20, 'abc'])
 print(t)

(1, 2, 3)
(1, 'raju', 20, 'abc')
(1, (2, 3, 4), [1, 'raju', 20, 'abc'])

In [ ]:
# parenthesis is not enough
t = ('satish')
print(type(t))

<class 'str'>

In [ ]:
# comma is needed
t = ('satish',)
print(type(t))

<class 'tuple'>

In [ ]:
# parenthesis is optional
t = 'satish',

print(type(t))
print(t)

<class 'tuple'>
('satish',)

## Accesing elements in tuple

In [ ]:
# indexing works and start with 0
t = ("satish","murali","naveen","shrinu","brahma")
print(t[1])

murali

In [ ]:
# negative index
print(t[-1])

brahma

In [ ]:
# nested tuple
t = ('ABC', ('satish','naveen','srinu'))
print(t[1][2])

srinu

In [ ]:
# slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])    # 2nd to 5th element

print(t[:-2])    # start to second last element

print(t[:])      # elements starting to end

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

## Chnaging a Tuple

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But if the element is itself a mutable datatype like list, its nested items can be changed.

In [ ]:
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[4][1] = 'satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [ ]:
# concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [ ]:
# repeat the elements in a tuple for a given number of times using the * operator

t = (('satish',)*4)
print(t)

('satish', 'satish', 'satish', 'satish')

## Tuple Deletion

In [ ]:
# we cannot chnage the elements in a tuple
# that also means we cannot delete or remove items from a tuple

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

In [ ]:
print(t)

NameError: name 't' is not defined

## Tuple Count

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular elements appears in a tuple
t.count(1)

3

## Tuple Index

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1
print(t.index(1))

2
0

## Tuple Membership

In [ ]:
 # test if an item exists in a tuple or not, using the keyword in
 t = (1, 2, 3, 4, 5, 6)

 print(1 in t)

True

In [ ]:
print(7 in t)

False

## Built in Functions

## Tuple length

In [ ]:
 t = (1, 2, 3, 4, 5, 6)

 print(len(t))

6

In [ ]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t)        # return a new sorted LIST

[1, 2, 3, 4, 5]

In [ ]:
# get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [ ]:
# get smallest element
print(min(t))

1

In [ ]:
# get sum of elements
print(sum(t))

23

In [ ]:
t = ('abc', 'xyz')
print(sum(t))       # only int supported

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Lists

Data Structure

A data structure is a collection of data elements (such as numbers or characters - or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the 'sequence'.

List is one of the **Sequence Data structure.**

Lists are collection of items(Strings, integers or even other lists).

Lists are enclosed in [].

Lists are **mutable** , which means they can be changed.

## List Creation

In [ ]:
emptyList = []

l1 = ['one', 'two', 'three', 'four']      # list of strings

l2 = [1, 2, 3, 4]                         # list of integers

l3 = [[1, 2], [3, 4]]                     # list of lists

l4 = [1, 'ramu', 24, 1.24]                # list of different datatypes

print(l4)

[1, 'ramu', 24, 1.24]

## List Length

In [ ]:
l = ['one', 'two', 'three', 'four']

print(len(l))

4

## List Append

In [ ]:
l = ['one', ' two', 'three', 'four']

l.append('five')

print(l)

['one', ' two', 'three', 'four', 'five']

## List Insert

In [ ]:
l = ['one', 'two', 'four']

l.insert(2, 'three')         # l.insert(x, y)

print(l)

['one', 'two', 'three', 'four']

## List Remove

In [ ]:
l = ['one', 'two', 'three', 'four', 'two']

l.remove('two')       #it will remove first occurance of 'two' in a given list

print(l)

['one', 'three', 'four', 'two']

## List Append & Extend

In [ ]:
l1 = ['one', 'two', 'three', 'four']
l2 = ['five', 'six']

#append
l1.append(l2)

print(l1)

['one', 'two', 'three', 'four', ['five', 'six']]

In [ ]:
l1 = ['one', 'two', 'three', 'four']
l2 = ['five', 'six']

#extend will join the list1 with list2

l1.extend(l2)

print(l1)

['one', 'two', 'three', 'four', 'five', 'six']

## List Delete

In [ ]:
l = ['one', 'two', 'three', 'four', 'five']

del l[1]            # del to remove item based on index position

print(l)

# or we can use pop() method by index

a = l.pop(1)

print(a)
print(l)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [ ]:
l = ['one', 'two', 'three', 'four']

#remove an item from list
l.remove('three')

print(l)

['one', 'two', 'four']

## List realted keywords in Python

In [ ]:
# keyword 'in' is used to test if an item is in a list
l = ['one', 'two', 'three', 'four']

if 'two' in l:
  print('AI')

#keyword 'not' can combined with 'in'
if 'six' not in l:
  print('ML')

AI
ML

## List Reverse

In [ ]:
# reverse is reverses the entire list

l = ['one', 'two', 'three', 'four']

l.reverse()

print(l)

['four', 'three', 'two', 'one']

## List Sorting

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order

The original list is not changed

The sorted() optional argument reverse = True, e.g, sorted(list, reverse=True), makes it sort backwards.

In [ ]:
# create a list with numbers

numbers = [3, 1, 6, 2, 8]

sorted_list = sorted(numbers)

print('Sorted list: ', sorted_list)

print('Original list: ', numbers)  # original list remain unchanged

Sorted list:  [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

In [ ]:
# print a list in reverse sorted order
print("reverse sorted list: ", sorted(numbers, reverse=True))

#original list remain unchanged
print("Original list: ", numbers)

reverse sorted list:  [8, 6, 3, 2, 1]
Original list:  [3, 1, 6, 2, 8]

In [ ]:
l = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
l.sort()

#add element 'a' to the list to show an error

print("sorted list: ", l)

sorted list:  [1, 4.2, 5, 5, 20]

In [ ]:
# sort list with element of different datatypes
l = [1, 20, 'b', 5, 'a']

print(l.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

## List Having Multiple References

In [ ]:
l = [1, 2, 3, 4, 5]
abc = l
abc.append(6)

#print original list
print('Original list: ', l)

Original list:  [1, 2, 3, 4, 5, 6]

## String Split to create a list

In [ ]:
# let's take a string

s = "one,two,three,four,five"
sl = s.split(',')
print(sl)

['one', 'two', 'three', 'four', 'five']

In [ ]:
s = "This is a data structure course"
split_list = s.split( )        # default split is white-character: space or tab
print(split_list)

['This', 'is', 'a', 'data', 'structure', 'course']

## List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [ ]:
l = [1, 2, 3, 4]
print(l[1])    # print second element

#print last element using negative index
print(l[-2])

2
3

## List Slicing

Accessing parts of segments is called slicing

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]

#print all numbers
print(numbers[:])

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [ ]:
print(numbers)

# print alternate elements in a list

print(numbers[::2])

# print elements start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

## List extend using "+"

In [ ]:
l1 = [1, 2, 3, 4]
l2 = ['verma', 'naveen', 'murali', 'brahma']

new_list = l1 + l2

print(new_list)

[1, 2, 3, 4, 'verma', 'naveen', 'murali', 'brahma']

## List Count

In [ ]:
print(new_list.count(3))        # frequency of 3 in a list

1

## List Looping

In [ ]:
#loop through a list

l = ['one', 'two', 'three', 'four']

for element in l:
  print(element)

one
two
three
four

## List Comprehensions

List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

ik complex so - Let's go to example

In [ ]:
# without list comprehension
squares = []
for i in range(10):
  squares.append(i**2)           #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#example

l = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_l = [i*2 for i in l]
print(new_l)

# filter the list to exclude negative numbers
new_list = [i for i in l if i >=0]
print(new_list)

#create a list of tuples like (number, square_of_number)
new_list = [(i, i**2) for i in range(10)]
print(new_list)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

## Nested List Comprehensions

In [ ]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
  l = []
  for row in matrix:
    l.append(row[i])
  transposed.append(l)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]